<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PixelVault</title>

    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <div
      style="
        margin: 0px 20px 20px 20px;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
      "
    >
      <h1>PixelVault</h1>
      <form
        action="{{ url_for('logout') }}"
        method="post"
        enctype="multipart/form-data"
      >
        <button>Logout</button>
      </form>
    </div>

    <div></div>

    <div class="main-wrapper">
      <div class="upload-form">
        <h2>Upload Image</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="images" multiple />
          <input type="submit" value="Upload" />
        </form>
      </div>

      <div>
        <h2>Images</h2>
        <div class="image-wrapper">
          {% if images %}
          <ul>
            {% for image in images %}
            <li class="image-list-item">
              <div
                style="cursor: pointer"
                onclick="openModal('{{ image.url }}', '{{ image.name }}')"
              >
                <image
                  class="thumbnail"
                  src="{{ url_for('get_image',filename=image.id) }}"
                />
              </div>
              <div class="image-data">
                <div>{{image.name}}</div>
                <p>Size: {{image.size}}</p>
                <a href="{{ url_for('delete_image',filename=image.id) }}"
                  >Delete</a
                >
              </div>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <div class="No Images!">No images.</div>
          {% endif %}
        </div>
      </div>
    </div>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <img id="img01" style="width: 100%" />
        <div class="modal-footer">
          <a id="downloadLink" href="#" download>Download</a>
          <button onclick="closeModal()">Close</button>
        </div>
        <div id="caption" class="modal-caption"></div>
      </div>
    </div>

    <script>
      function openModal(src, alt) {
        var modal = document.getElementById("myModal");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        var downloadLink = document.getElementById("downloadLink");
        var span = document.getElementsByClassName("close")[0];

        modal.style.display = "block";
        modalImg.src = src;
        captionText.innerHTML =
          alt.length > 30 ? alt.substring(0, 30) + "..." : alt;
        downloadLink.href = src;
        downloadLink.download = alt;

        span.onclick = function () {
          modal.style.display = "none";
        };
      }
      function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
      }

      window.onclick = function (event) {
        var modal = document.getElementById("myModal");
        if (event.target === modal) {
          modal.style.display = "none";
        }
      };
      document.addEventListener("contextmenu", (event) =>
        event.preventDefault()
      );
    </script>
  </body>
</html>
