<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Signup</title>

    <link rel="stylesheet" href="/styles/signup.css" />
  </head>
  <body>
    <div class="wrapper">
      <h2 style="text-align: center" ;>SIGNUP</h2>
      {% if message %}
      <p>{{ message }}</p>
      {% endif %}
      <form action="/signup" method="post">
        <label for="email">Email:</label><br />
        <input type="email" id="email" name="email" required /><br />
        <label for="password">Password:</label><br />
        <input
          type="password"
          id="password"
          name="password"
          required
        /><br /><br />

        <div style="text-align: center">
          <input type="submit" value="Submit" />
        </div>
      </form>
      <p>Already have an account? <a href="/login">Login</a></p>
    </div>
  </body>
</html>
